<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Judul Halaman -->
	<title>Wellbeing Analyzer</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Icon -->
	<link rel="shortcut icon" href="../static/images/app-display2.png">
	
	<!-- CSS -->
	<link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="../static/css/client_side.css" type="text/css">
	
	<!-- JavaScript -->
	<script src="../static/js/jquery_3.6.0.min.js" ></script>
	<script src="..static/js/bootstrap_3.4.1.min.js" ></script>
</head>

<body id="halamanku" data-spy="scroll" data-target=".navbar" data-offset="60">

	<body id="halamanku" data-spy="scroll" data-target=".navbar" data-offset="60">

		<!-- Navigation Bar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				
				<!-- Logo -->
				<div class="navbar-header">
					<img src="../static/images/app-display2.png" alt="logo" 
					width="50" height="50" align="left">
					<a class="navbar-brand" href="#halamanku">&#160; Wellbeing Analyzer</a>
				</div>
			
			<!-- Daftar Halaman -->
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#informasi">INFORMASI</a></li>
					<li><a href="#aplikasi">APLIKASI</a></li>
					<li><a href="#aboutme">ABOUT ME</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Bagian Halaman (Informasi) -->
	<div id="informasi" class="container-fluid">
		<br>
		<br>
		<br>
		<div class="row">
			<div class="col-sm-6">
				<!-- Deskripsi Aplikasi -->
				<h2>The Human Development Index</h2>
				<h4>The Human Development Index Classifier</h4><br>
				<p style="text-align: justify;text-justify: inter-word;">
					Aplikasi ini dibuat untuk mengklasifikasikan tingkat Indeks Pembangunan Manusia (IPM) menjadi kategori "Normal", "Low", "High", dan "Very High" berdasarkan data yang diberikan. Pengguna cukup memberikan beberapa data indikator pembangunan manusia, seperti harapan hidup, tingkat pendidikan, dan pendapatan per kapita. Aplikasi ini akan mengklasifikasikan IPM ke dalam salah satu dari empat kategori tersebut berdasarkan data yang diberikan.
				</p>
				<br>

				<!-- Tombol Mulai -->
				<nav id="navgo" class="navbar" style="background-color:#ffffff;z-index: 0;">
					<ul class="nav nav-pills">
						<li class="nav-item">
							<a class="btn btn-default btn-lg" href="#aplikasi" style="background-color:#28ace5">Mulai</a>
						</li>
					</ul>
				</nav>
			</div>
			
			<div class="col-sm-6">
				<br>
				<br>
				<!-- Gambar Deskripsi Aplikasi -->
				<img src="../static/images/app-display2.png" width="750" ></img>
			</div>
		</div>
		<br>
	</div>
	

	<!-- Bagian Halaman (Aplikasi) -->
	<div id="aplikasi" data-bs-spy="scroll" data-bs-target="#navgo" data-bs-offset="0" class="scrollspy-example" tabindex="0">
		<br>
		<br>
		<div class="row">
			<div class="col-sm-6">
				</br>
				<!-- Input Nilai Pengukuran dari Pengguna -->
				<h3 style="margin-left: 50px;">Nilai Pengukuran </h3>
				<form>
					<div class="form-group" style="margin-left: 50px;">
						<!-- Input Slider untuk Nilai Pengukuran Bunga Iris -->
						<label for="range_Harapan_Lama_Sekolahh">Harapan Lama Sekolah </label>&nbsp;&rarr;&nbsp;
						<span id="rangeVal_Harapan_Lama_Sekolahh">5.0<!-- Default value --></span>
						<input type="range" min="2.80" max="17.8" step="0.05" value="5.0" class="slider" id="range_Harapan_Lama_Sekolahh" 
						onInput="$('#rangeVal_Harapan_Lama_Sekolahh').html($(this).val())">
						</br>
						<label for="range_Pengeluaran_Perkapita">Pengeluaran Perkapita</label>&nbsp;&rarr;&nbsp;
						<span id="rangeVal_Pengeluaran_Perkapita">9572<!-- Default value --></span>
						<input type="range" min="3975" max="23888" step="1" value="9572" class="slider" id="range_Pengeluaran_Perkapita" 
						onInput="$('#rangeVal_Pengeluaran_Perkapita').html($(this).val())">
						</br>
						<label for="range_Rerata_Lama_Sekolah">Rerata Lama Sekolah</label>&nbsp;&rarr;&nbsp;
						<span id="rangeVal_Rerata_Lama_Sekolah">7<!-- Default value --></span>
						<input type="range" min="0.85" max="13" step="0.05" value="7" class="slider" id="range_Rerata_Lama_Sekolah" 
						onInput="$('#rangeVal_Rerata_Lama_Sekolah').html($(this).val())">
						</br>
						<label for="range_Usia_Harapan_Hidup">Usia Harapan Hidup</label>&nbsp;&rarr;&nbsp;
						<span id="rangeVal_Usia_Harapan_Hidup">70<!-- Default value --></span>
						<input type="range" min="54.82" max="77.73" step="0.05" value="70" class="slider" id="range_Usia_Harapan_Hidup" 
						onInput="$('#rangeVal_Usia_Harapan_Hidup').html($(this).val())">
						</br>
						<!-- Tombol Prediksi -->
						<button type="submit" id="prediksi_submit" class="btn btn-default btn-lg">Prediksi</button>
					</div>
				</form>
			</div>
			<div class="col-sm-6">
				<br>
				<!-- Bagian Halaman untuk Hasil Prediksi -->
				<div id="hasil_prediksi" align="center">
						<!-- Hasil Prediksi akan ditampilkan di sini-->
				</div>
			</div>
		</div>
		<br>
		<br>
	</div>

<!-- Bagian Halaman about -->
<div id="aboutme" class="container-fluid text-center">
    <br>
    <h2>ABOUT ME</h2>
    <img src="../static/images/app-display3.jpeg" width="500" alt="Foto Profil">
    <h4>Fanisa Nimastiti</h4>
    <div class="row justify-content-center">
    	
    </div>
    <br>
</div>



<!-- Footer -->
<footer class="container-fluid text-center">
    <a href="#halamanku" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>itsfanyy <br> <a href="https://fanisanmst.wixsite.com/itsfanyy">itsfanyy.id</a></p>
</footer>

<!-- JavaScript untuk Animasi Scroll dan Prediksi Model -->
<script src="../static/js/client_side.js" ></script>

</body>
</html>
